/* Import Lato font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* master reset */
* {
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
}

/* Save color for project */
:root {
	--primary: #F2F3F7;
	--secondary: #2075F5;
	--tenary:  #176FA4;
}

/* Body reset background */
body {
	background: var(--primary);
}

/* Custom component button */
.btn {
   @apply px-5 py-2 duration-300 focus:outline-none focus:ring-4 hover:bg-opacity-75 block w-full rounded-lg text-sm flex justify-center items-center gap-1;
}

/* Animation for SectionCard */
@keyframes show-animation {
   from {
      transform: translateX(-100%) scale(.65);
      opacity: .65;
   } to {
      transform: translateX(0) scale(1);
      opacity: 1;
   }
}

.show-animation {
   animation: show-animation .35s ease-in-out forwards;
}